{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
추가
{% endblock %}

{% block content %}
<div class="media-body">
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name|add_label_class:""}}
            {{ form.name|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.weight|add_label_class:"" }}
            {{ form.weight|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.minimum_weight|add_label_class:"" }}
            {{ form.minimum_weight|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="categoryId">카테고리</label>
            <select name="category_id" id="categoryId">
                {% for category in category_list %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="">최초 입고 날짜</label>
            <input type="datetime-local" name="stocked_date">
        </div>
        <input type="submit" value="생성">
    </form>
</div>
{% endblock %}
