{% extends 'base.html' %}
{% block title %}
    메인페이지
{% endblock %}

{% block content %}
    <div class="media-body">
        <div>
            <h5 class="mt-0" style="float: left">원료별 재고 현황</h5>
            <a href="{% url 'item:create' %}" class="btn btn-outline-primary btn-sm" style="float: right">원료 신규 추가</a>
        </div>
        <table class="table table-hover">
            <thead class="table-dark">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">원료 이름</th>
                <th scope="col">카테고리</th>
                <th scope="col">재고</th>
                <th scope="col">최소 유지 재고</th>
                <th scope="col">마지막 업데이트 일자</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for item in item_list %}
                <tr class="item-row {% if item.weight < item.minimum_weight %}warning{% endif %}"
                    data-id="{{ item.id }}">
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.name }}</td>
                    <td>{{ item.category.name }}</td>
                    <td>{{ item.weight }}</td>
                    <td>{{ item.minimum_weight }}</td>
                    <td>{{ item.updated_at }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <dialog class="item-dialog" style="width: 50%">
        <div><strong>이력 관리</strong></div>
        <form action="" method="dialog">
            <select name="op_code" id="op-code" required>
                <option value="0">출고</option>
                <option value="1">입고</option>
            </select>
            <input type="number" name="weight" required>
            <input type="datetime-local" name="stock_date" required>
            <button type="submit" id="dialog-submit">저장</button>
        </form>
        <button type="submit" id="dialog-close">닫기</button>
        <div id="history-info">
            <div id="stock-name">원료이름: <span></span></div>
            <div id="stock-category">카테고리: <span></span></div>
            <div id="stock-weight">재고: <span></span></div>
        </div>
        <div id="histories">
            <table class="table table-hover">
                <thead class="table-dark">
                <tr>
                    <th scope="col">입/출고</th>
                    <th scope="col">재고</th>
                    <th scope="col">날짜</th>
                </tr>
                </thead>
                <tbody id="histories-tbody">
                </tbody>
            </table>
        </div>
    </dialog>
{% endblock %}

{% block scripts %}
    <script>

        let selectedId;

        async function getItemHistory() {
            const response = await fetch(`{% url 'item:detail' 9999999 %}`.replace(/9999999/, selectedId));
            const result = await response.json();

            console.log(result);
            return result;
        }

        function makeHistoryItem(json) {
            let parent = document.querySelector("#histories-tbody");
            json.histories.forEach(history => {
                let tr = document.createElement("tr");
                let td1 = document.createElement("td");
                td1.innerHTML = history.op_code ? "입고" : "출고";
                let td2 = document.createElement("td");
                td2.innerHTML = history.weight;
                let td3 = document.createElement("td");
                td3.innerHTML = history.created_at;

                tr.appendChild(td1);
                tr.appendChild(td2);
                tr.appendChild(td3);

                parent.appendChild(tr);
            });
        }

        const dialog = document.querySelector("dialog");
        const itemRows = document.querySelectorAll(".item-row");
        itemRows.forEach(item => {
            item.addEventListener("click", async (e) => {
                e.preventDefault();
                let currentTarget = e.currentTarget;
                console.log(currentTarget);
                selectedId = parseInt(currentTarget.dataset.id);

                const tr = document.querySelector(`tr[data-id="${selectedId}"]`);
                const name = tr.querySelector("td:nth-child(2)");
                const category = tr.querySelector("td:nth-child(3)");
                const weight = tr.querySelector("td:nth-child(4)");

                const element1 = document.querySelector("#stock-name span");
                const element2 = document.querySelector("#stock-category span");
                const element3 = document.querySelector("#stock-weight span");

                element1.textContent = name.textContent;
                element2.textContent = category.textContent;
                element3.textContent = weight.textContent;

                const response = await getItemHistory();
                makeHistoryItem(response);
                dialog.showModal();
            });
        });

        dialog.addEventListener("close", e => {
            document.querySelector("#histories-tbody").innerHTML = "";
        });

        const dialogClose = document.querySelector("#dialog-close");
        dialogClose.addEventListener("click", e => {
            e.preventDefault();
            dialog.close();
        })

        const dialogSubmit = document.querySelector("#dialog-submit");
        dialogSubmit.addEventListener("click", e => {
            e.preventDefault();
            const currentTarget = e.currentTarget;

            const form = currentTarget.closest("form");
            const formData = new FormData(form);
            {#formData.set("weight", parseFloat(formData.get("weight")));#}

            {#const jsonObject = Object.fromEntries(formData.entries());#}

            fetch(`{% url 'item:stock' 9999999 %}`.replace(/9999999/, selectedId), {
                method: 'POST',
                body: formData,
            })
                .then(response => {
                    if (response.ok) {
                        alert("저장 성공!");
                        const tbody = document.querySelector("#histories-tbody");
                        const tr = document.createElement("tr");
                        const td1 = document.createElement("td");
                        td1.textContent = formData.get("op_code") == 1 ? "입고" : "출고";
                        const td2 = document.createElement("td");
                        td2.textContent = formData.get("weight")
                        const td3 = document.createElement("td");
                        td3.textContent = formData.get("stock_date")

                        tr.append(td1, td2, td3);
                        tbody.prepend(tr);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>
{% endblock %}
