<div class="media-body">
    <div>
        <h5 class="mt-0" style="float: left">원료 별 재고 현황</h5>
        <a href="/erp/new" class="btn btn-outline-primary btn-sm" style="float: right">신규</a>
    </div>
    <table class="table table-hover">
        <thead class="table-dark">
        <tr>
            <th scope="col">No.</th>
            <th scope="col">원료이름</th>
            <th scope="col">카테고리</th>
            <th scope="col">색상</th>
            <th scope="col">사이즈</th>
            <th scope="col">재고</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for stuff in all_stuff %}
            <tr onclick="window.location='/erp/{{ stuff.goods }}';">
                <th scope="row">{{ stuff.goods }}</th>
                <td>{{ stuff.goods_name }}</td>
                <td>{{ stuff.goods_category }}</td>
                <td>{{ stuff.goods_color }}</td>
                <td>{{ stuff.goods_size }}</td>
                <td>{{ stuff.inventory.stock }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>