{% extends 'base.html' %}
{% block title %}
    메인페이지
{% endblock %}

{% block content %}
    <div class="media-body">
        <div>
            <h5 class="mt-0" style="float: left">원료별 재고 현황</h5>
            <a href="{% url 'item:create' %}" class="btn btn-outline-primary btn-sm" style="float: right">신규</a>
        </div>
        <table class="table table-hover">
            <thead class="table-dark">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">원료 이름</th>
                <th scope="col">카테고리</th>
                <th scope="col">재고</th>
                <th scope="col">들어온 일자</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for item in item_list %}
                <tr class="item-row" data-id="{{ item.id }}">
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.name }}</td>
                    <td>{{ item.category.name }}</td>
                    <td>{{ item.weight }}</td>
                    <td>{{ item.stocked_date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <dialog class="item-dialog">
        <div><strong>이력 관리</strong></div>
        <form action="" method="dialog">
            <input type="text" readonly />
            <button type="submit">저장</button>
        </form>

        <div id="histories"></div>
    </dialog>
{% endblock %}

{% block scripts %}
<script>

    async function getItemHistory(itemId) {
        const response = await fetch(`{% url 'item:detail' 9999999 %}`.replace(/9999999/, itemId));
        const result = await response.json();

        console.log(result);
        return result;
    }

    function makeHistoryItem(json) {
        let parent = document.querySelector("#histories");
        json.histories.forEach(history => {
            let child = document.createElement("div");
            child.innerText = `${history.weight}-${history.created_at}`;
            parent.appendChild(child);
        });
    }

    const dialog = document.querySelector("dialog");
    const itemRows = document.querySelectorAll(".item-row");
    itemRows.forEach(item => {
        item.addEventListener("click", async (e) => {
            e.preventDefault();
            let currentTarget = e.currentTarget;
            console.log(currentTarget);
            let id = currentTarget.dataset.id;

            const response = await getItemHistory(parseInt(id));
            makeHistoryItem(response);
            dialog.showModal();
        });
    });

    dialog.addEventListener("close", e => {
        document.querySelector("#histories").innerHTML = "";
    })
</script>
{% endblock %}